html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #202124;
}

.nav-top {
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  padding: 0 16px;
  height: 48px;
  font-family: "Google Sans", "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #5f6368;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-right {
  display: flex;
}

li {
  list-style-type: none;
}

.wrapper {
  margin-top: 48.8px;
}

.banner {
  background-color: #f1f3f4;
  padding: 20px 24px 19px;
  font-size: 14px;
}

.banner-info {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 80px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
}

.hero-left-description {
  font-size: 24px;
}

.hero-btn-list {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
}
