html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #202124;
  font-family: "Open Sans", sans-serif;
}

.nav-top {
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  padding: 0 16px;
  height: 48px;
  font-size: 14px;
  color: #5f6368;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-right input {
  margin: 8px;
  background-color: rgb(232, 234, 237);
  border: 0;
  border-radius: 2px 2px;
  font-size: 16px;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-right {
  display: flex;
}

li {
  list-style-type: none;
}

.wrapper {
  margin-top: 48.8px;
}

.banner {
  padding: 20px 24px 19px;
  font-size: 14px;
}

.grey-background {
  background-color: #f1f3f4;
}

.banner-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner-info-left {
  color: #545555;
}

h1 {
  margin: 0;
  font-size: 80px;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
  margin: 24px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left-description {
  font-size: 24px;
}

.hero-btn-list {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

.profile-carousel {
  padding: 24px;
}

.article-slideshow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.grey-border {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px 8px;
  background-color: #ffffff;
  padding: 6px 16px;
  margin: 8px 5px;
}

.grey-border:first-child {
  margin-left: 0;
}

.black-solid-btn {
  border: 1.6px solid rgb(32, 33, 36);
  border-radius: 4px 4px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 6px 24px;
  margin: 4px;
}

.black-solid-btn:first-child {
  margin-left: 0;
}

a {
  text-decoration: none;
}

.article-catogory {
  font-weight: bold;
  font-size: 6px;
  text-transform: uppercase;
}
