body {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #202124;
  font-family: "Open Sans", sans-serif;
}

.nav-top {
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  padding: 0 16px 0 24px;
  height: 48px;
  font-size: 14px;
  color: #5f6368;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.nav-left {
  display: flex;
}

.nav-left img {
  padding: 6px;
}

.searchbox,
input {
  display: flex;
  background-color: rgb(232, 234, 237);
  border: 0;
  border-radius: 4px 4px;
  font-size: 16px;
}

.language-selector {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 4px 4px;
}

select {
  border: none;
}

.searchbox img,
.language-selector img {
  padding: 10px;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-left a {
  margin: auto;
  font-weight: 600;
  font-size: large;
  color: #5f6368;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  gap: 6px;
}

li {
  list-style-type: none;
}

main {
  margin-top: 48.8px;
}

.banner {
  padding: 20px 24px 19px;
  font-size: 14px;
}

.grey-background {
  background-color: #f1f3f4;
}

.banner-info {
  display: flex;
  justify-content: space-between;
}

.banner-info-left {
  color: #545555;
}

.banner-info-right {
  flex-shrink: 0;
}

h1 {
  margin: 0;
  font-size: 80px;
}

iframe {
  min-width: 300px;
  width: 40vw;
  aspect-ratio: 16 / 9;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 24px auto;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left-description {
  font-size: 24px;
}

.hero-btn-list {
  font-size: 24px;
  font-weight: 700;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

.hero-right {
  margin: 24px 0;
}

.article-slideshow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.grey-border {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px 8px;
  background-color: #ffffff;
  padding: 6px 16px;
  margin: 8px 5px;
}

a.grey-border:first-child {
  margin-left: 0;
}

.black-solid-btn {
  border: 1.6px solid rgb(32, 33, 36);
  border-radius: 4px 4px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 6px 24px;
  margin: 4px;
}

.black-solid-btn:first-child {
  margin-left: 0;
}

a {
  text-decoration: none;
}

.article-catogory {
  font-weight: bold;
  font-size: 6px;
  text-transform: uppercase;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.hero-action-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 40px 0;
}

.product-container {
  flex-wrap: wrap;
  flex-basis: 340px;
}

.blue-btn {
  background-color: #1a73e8;
  color: white;
  font-size: 14px;
  border-radius: 4px 4px;
  padding: 8px 20px;
  margin: 24px 0;
}

.white-btn {
  color: #1a73e8;
  background-color: white;
  font-size: 14px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px 8px;
  border-radius: 4px 4px;
  padding: 8px 20px;
  margin: 24px 0;
}

.news-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
}

@media screen and (max-width: 582px) {
  .news-item {
    flex-wrap: wrap;
  }
}

.profile-upper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 24px auto 12px auto;
}

.profile-icon {
  border-radius: 50%;
}

.profile {
  margin: 36px 8px 16px;
}

.width {
  max-width: 1440px;
  margin: auto;
}

.product-description {
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  color: #202124;
}

.footer-nav a:visited {
  color: #202124;
}

.nav-upper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid rgb(218, 220, 224);
  border-bottom: 1px solid rgb(218, 220, 224);
}

.nav-mid {
  display: flex;
  font-size: 14px;
  gap: 24px;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(218, 220, 224);
}

.nav-upper ul {
  padding-left: 0;
}

.landing-social {
  padding-top: 40px;
  padding-bottom: 40px;
}

.landing-social-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aside-left {
  display: flex;
  align-self: center;
}

.aside-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}

.padding-24 {
  padding: 24px;
}

.profile-carousel {
  padding: 40px 0;
}

.align-self {
  align-self: center;
}

.action-right h3 {
  font-size: 40px;
}

.action-right p {
  font-size: 18px;
}

.flex-left {
  order: -1;
}

.grey-btn {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px 8px;
  font-size: 14px;
  background-color: #ffffff;
  padding: 8px 16px;
}

@media screen and (max-width: 1440px) {
  .width {
    margin: auto 24px;
  }
}

@media screen and (max-width: 830px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid-4,
  .hero-action-item {
    grid-template-columns: 1fr;
  }
  .flex-left {
    order: 0;
  }
}

.product-icon {
  height: 64px;
  padding: 24px;
}
